/**
 */
 
.container   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}
.container_Home {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1450px;	
}
.container_Home h1 {
	text-align: center;
	width: 100%;
}
.container_Home h2 {
	width: 100%;		
}
.container_Home ul {
	width: 100%;
}
.container50   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
}
.containerIlineFlex100   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 20px;
	width:calc(100% - 20px);
}
.containerCardButton   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:100%;
}

.containerIlineFlex30   {
	background-color:  #f4f4f4;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	margin:20px;
	min-width:351px;
	width:calc(30% - 40px);
}
.containerCardImage   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left:10px;
	margin-left:10px;
	width:calc(100% - 20px);
}

.containerCard100   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}
.separationHorizontal   {
	background-color: black;
	width: 100%;
	height: 1px;
	margin-bottom: 10px;
}
.NamePerso   {
	margin-left: 10px;
	font-weight: bold;
	font-size: 20px;
}
.linkButton   {
	margin: 10px;
}
.styleA   {
	color: black;
	background-color: red;
}

.ContainerDetailsLeft   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 350px;
}
.ContainerDetailsRight   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 20px;
	width:calc(90% - 370px);

}
.containerPaperName   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	height: 150px

}
.TitleH1   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;

}
.titlePerso   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 10px;
	width: calc(100% - 10px);

}
.containerHeader   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	height : 400px;
	background-color: #36545;
	background-image: url( 'https://cdn.filestackcontent.com/2zNADuAPRlwr70nM7GMr' );
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-color: #9ECDDB;
	background-position: center;
}
.containerDrawer   {
	display: inline-flex;
	flex-wrap:wrap;
	justify-content: flex-start;
	margin-top: 10px;
	margin-left: 20px;
	width:calc(100% - 20px);
}
.titleHeader   {
	color:white;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width:100%;
}
.containerFooter   {
	color: white;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height : 350px;
	background-color: #3d3d3d;
}
.containerFooter ul {
	
}
.containerFooter h3 {
	text-align: center;
	width: 100%;
	
}
.containerFooterLeft   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 33.3%;
	height : 100%;
	background-color: #3d3d3d;

}
.containerFooterCenter   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 33.3%;
	height : 100%;
	background-color: #3d3d3d;
}
.containerFooterRight   {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 33.3%;
	height : 100%;
	background-color: #3d3d3d;
}
.container_Label {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 33%;	
}
/*FormUser*/
.container_Form_User {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1200px;	
}

.container_Form_User_Left {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;	
	margin-top: 10px;
}
.container_Form_User_Right {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 10px;	
}
.container_Form_User_Body {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 10px;	
}
.Container_Title_Components {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
/*Table User*/
.Container_Table_User {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
}
